@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #f8f8f8
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto
}

@media (max-width:991px) {
  .page__content {
    display: block
  }
}

.page__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 92%
}

@media (max-width:991px) {
  .page__bottom {
    width: 100%
  }
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 60px
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff00f5;
  border-radius: 33px;
  padding: 10px 15px
}

@media (max-width:991px) {
  .title {
    font-size: 25px;
    line-height: 29px
  }
}

.title:not(:last-child) {
  margin-bottom: 32px
}

.header {
  width: 118px;
  padding: 500px 0;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .25)
}

@media (max-width:991px) {
  .header {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 10
  }
}

@media (max-width:991px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 15px
  }
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #373737;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: none;
  width: 199px;
  height: 45px
}

@media (max-width:991px) {
  .header__logo {
    display: block
  }
}

@media (max-width:600px) {
  .header__logo {
    width: 168px;
    height: 38px
  }
}

.header__logo_menu {
  margin-right: auto;
  margin-bottom: 100px
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header__icon {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49px;
  flex: 0 0 49px;
  height: 49px
}

@media (max-width:991px) {
  .header__icon {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 39px;
    flex: 0 0 39px;
    height: 39px
  }
}

.header__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

@media (max-width:991px) {
  .nav {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px 48px
}

@media (max-width:991px) {
  .nav__list {
    row-gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #1f1c1c;
  white-space: nowrap;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear
}

@media (max-width:991px) {
  .nav__link {
    font-size: 20px;
    line-height: 22px;
    color: #fff
  }
}

@media (max-width:600px) {
  .nav__link {
    font-size: 24px;
    line-height: 28px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #ff00f5
  }
}

.nav__link:active {
  color: #ff00f5;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 0
}

@media (max-width:991px) {
  .top {
    display: none
  }
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

.top__logo {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 199px;
  flex: 0 1 199px;
  height: 45px
}

.top__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.top__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49px;
  flex: 0 0 49px;
  height: 49px
}

.no-webp .mr {
  background-image: url(../img/hero.png)
}

.mr {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .no-webp .mr {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .mr {
    background-image: url(../img/hero_3.png)
  }
}

.mr:not(:last-child) {
  margin-bottom: 60px
}

.mr__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0;
  min-height: 605px
}

@media (max-width:600px) {
  .mr__content {
    min-height: 679px
  }
}

.mr__body {
  max-width: 690px
}

@media (max-width:991px) {
  .mr__body {
    max-width: 463px
  }
}

.mr__span {
  display: inline-block;
  background-color: #ff00f5;
  border-radius: 33px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #fff
}

.mr__span:not(:last-child) {
  margin-bottom: 10px
}

.mr__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 65px;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .mr__title {
    font-size: 34px;
    line-height: 48px
  }
}

@media (max-width:600px) {
  .mr__title {
    font-size: 28px;
    line-height: 42px
  }
}

.mr__title:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:991px) {
  .mr__title:not(:last-child) {
    margin-bottom: 10px
  }
}

.mr__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff
}

.mr__text span {
  display: block
}

.mr__text:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:991px) {
  .mr__text:not(:last-child) {
    margin-bottom: 32px
  }
}

@media (max-width:600px) {
  .mr__text:not(:last-child) {
    margin-bottom: 24px
  }
}

.mr__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 301px;
  min-height: 55px;
  background: -o-linear-gradient(358.8deg, #ff00f5 .67%, #c90764 100%);
  background: linear-gradient(91.2deg, #ff00f5 .67%, #c90764 100%);
  border-radius: 51px;
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:600px) {
  .mr__link {
    min-width: 290px;
    margin: 0 auto
  }
}

@media (any-hover:hover) {
  .mr__link:hover {
    opacity: .6
  }
}

.mr__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.el:not(:last-child) {
  margin-bottom: 60px
}

.el__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.el__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 400px;
  height: 282px;
  overflow: hidden
}

@media (any-hover:hover) {
  .el__item:hover a {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }
}

.el__item:active a {
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.el__item a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear
}

.el__item a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

@media (max-width:991px) {
  .el__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px;
    height: 235px
  }
}

@media (max-width:450px) {
  .el__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.le:not(:last-child) {
  margin-bottom: 60px
}

.le__content {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px
}

@media (max-width:991px) {
  .le__content {
    gap: 10px
  }
}

@media (max-width:600px) {
  .le__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.le__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #242323
}

@media (max-width:991px) {
  .le__text {
    font-size: 16px;
    line-height: 21px
  }
}

.le__text:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:600px) {
  .le__text:not(:last-child) {
    margin-bottom: 10px
  }
}

.elle:not(:last-child) {
  margin-bottom: 60px
}

.elle__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.elle__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 400px
}

@media (max-width:991px) {
  .elle__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:600px) {
  .elle__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.elle__wrapper-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  background-color: #d00677;
  margin: 0 auto;
  border-radius: 50%
}

@media (max-width:991px) {
  .elle__wrapper-icon {
    width: 70px;
    height: 70px
  }
}

.elle__wrapper-icon:not(:last-child) {
  margin-bottom: 10px
}

.elle__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;
  height: 46px
}

@media (max-width:991px) {
  .elle__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 46px;
    flex: 0 0 46px;
    height: 41px
  }
}

@media (max-width:600px) {
  .elle__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 38px;
    flex: 0 0 38px;
    height: 38px
  }
}

.elle__icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.elle__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #1f1d1d
}

@media (max-width:991px) {
  .elle__subtitle {
    font-size: 20px;
    line-height: 23px
  }
}

.elle__subtitle:not(:last-child) {
  margin-bottom: 10px
}

.elle__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: #1f1d1d
}

.footer {
  padding: 0 0 40px 0
}

@media (max-width:991px) {
  .footer {
    padding: 0 0 30px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 0 0 32px 0
  }
}

.footer__logo {
  display: block;
  width: 199px;
  height: 45px;
  margin: 0 auto
}

@media (max-width:600px) {
  .footer__logo {
    width: 167px;
    height: 38px
  }
}

.footer__logo:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:600px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 24px
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1f1d1d;
  margin: 0 auto;
  max-width: 623px
}

.footer__text span {
  display: block
}

@media (max-width:991px) {
  .footer__text {
    max-width: 702px
  }
}

.footer__text:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:600px) {
  .footer__text:not(:last-child) {
    margin-bottom: 24px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 42px
}

@media (max-width:991px) {
  .footer__list {
    gap: 10px 35px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 10px 25px
  }
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1f1d1d;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #ff00f5
  }
}

.footer__link:active {
  color: #ff00f5;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 180px
}

@media (max-width:991px) {
  .terms {
    margin-top: 150px
  }
}

@media (max-width:600px) {
  .terms {
    margin-top: 125px
  }
}

.terms__container {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px
}

@media (max-width:600px) {
  .terms__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 15px
  }
}

.terms h1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #1f1d1d
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 22px;
    line-height: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 20px;
    line-height: 30px
  }
}

.terms h1 strong {
  font-weight: 900
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #1f1d1d
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 22px;
    line-height: 32px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 20px;
    line-height: 30px
  }
}

.terms h2 strong {
  font-weight: 900
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #1f1d1d
}

@media (max-width:600px) {
  .terms p {
    font-size: 14px;
    line-height: 16px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1f1d1d
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px;
    line-height: 14px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.slot {
  margin-top: 180px
}

@media (max-width:991px) {
  .slot {
    margin-top: 150px
  }
}

@media (max-width:600px) {
  .slot {
    margin-top: 125px
  }
}

.slot__content {
  height: 800px
}

@media (max-width:991px) {
  .slot__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .slot__content {
    height: 350px
  }
}

.slot__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 381px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 2;
  padding: 25px 10px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83px;
  flex: 0 0 83px;
  height: 133px
}

@media (max-width:991px) {
  .popup__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 63px;
    flex: 0 0 63px;
    height: 113px
  }
}

@media (max-width:600px) {
  .popup__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 43px;
    flex: 0 0 43px;
    height: 93px
  }
}

.popup__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__descr {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.popup__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000
}

@media (max-width:600px) {
  .popup__text {
    font-size: 14px;
    line-height: 16px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 160px;
  min-height: 38px;
  margin: 0 auto;
  background-color: #ff00f5;
  border-radius: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s linear, background-color .2s linear;
  -o-transition: color .2s linear, background-color .2s linear;
  transition: color .2s linear, background-color .2s linear
}

@media (max-width:991px) {
  .popup__button {
    min-width: 140px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 14px;
    min-width: 120px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #ff00f5;
    background-color: #fff
  }
}

.popup__button:active {
  color: #ff00f5;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .mr {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .mr {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .mr {
    background-image: url(../img/hero_3.webp)
  }
}