@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #1b0438
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 80px
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #141414 0, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #141414 0, rgba(0, 0, 0, 0) 100%)
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1b0438;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    left: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  width: 169px;
  height: 33px
}

@media (max-width:991px) {
  .header__logo {
    width: 161px;
    height: 32px
  }
}

.header__logo_menu {
  display: none;
  margin-left: auto;
  margin-bottom: 100px
}

@media (max-width:991px) {
  .header__logo_menu {
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 47px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 21px
  }
}

@media (max-width:600px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #f90
  }
}

.nav__link:active {
  color: #f90;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.no-webp .main {
  background-image: url(../img/hero.png)
}

.main {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat
}

@media (max-width:991px) {
  .no-webp .main {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .main {
    background-image: url(../img/hero_3.png)
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 97px 0 101px 0;
  min-height: 719px
}

@media (max-width:991px) {
  .main__content {
    min-height: 562px;
    padding: 97px 0 40px 0
  }
}

@media (max-width:600px) {
  .main__content {
    min-height: 797px;
    padding: 97px 0 74px 0
  }
}

.main__body {
  max-width: 675px
}

@media (max-width:991px) {
  .main__body {
    max-width: 523px
  }
}

.main__span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: #fff
}

.main__span:not(:last-child) {
  margin-bottom: 10px
}

.main__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.2102;
  text-align: center;
  text-transform: uppercase;
  color: #ffc700
}

@media (max-width:991px) {
  .main__title {
    font-size: 44px
  }
}

@media (max-width:600px) {
  .main__title {
    font-size: 35px
  }
}

.main__title:not(:last-child) {
  margin-bottom: 10px
}

.main__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: #fff
}

.main__text span {
  display: block
}

.main__text:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:600px) {
  .main__text:not(:last-child) {
    margin-bottom: 32px
  }
}

.main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 255px;
  min-height: 38px;
  background-color: #f90;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .main__link {
    width: 201px;
    min-height: 42px
  }
}

@media (max-width:600px) {
  .main__link {
    width: 257px;
    min-height: 38px
  }
}

@media (any-hover:hover) {
  .main__link:hover {
    color: #f90;
    background-color: #fff
  }
}

.main__link:active {
  color: #f90;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.anonker {
  margin-top: -91px
}

@media (max-width:991px) {
  .anonker {
    margin-top: -24px
  }
}

@media (max-width:600px) {
  .anonker {
    margin-top: -64px
  }
}

.anonker:not(:last-child) {
  margin-bottom: 80px
}

.anonker__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px
}

.anonker__item {
  padding: 10px 0;
  background-color: #330b63;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 372px;
  flex: 0 0 372px
}

@media (max-width:991px) {
  .anonker__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:600px) {
  .anonker__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.anonker__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px
}

.anonker__top:not(:last-child) {
  margin-bottom: 15px
}

.anonker__wrapper-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 79px;
  flex: 0 0 79px;
  height: 52px;
  background-color: #f90
}

@media (max-width:991px) {
  .anonker__wrapper-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 72px;
    flex: 0 0 72px;
    height: 47px
  }
}

@media (max-width:600px) {
  .anonker__wrapper-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 74px;
    flex: 0 0 74px;
    height: 49px
  }
}

.anonker__icon {
  display: block;
  width: 46px;
  height: 44px
}

@media (max-width:991px) {
  .anonker__icon {
    width: 43px;
    height: 40px
  }
}

@media (max-width:600px) {
  .anonker__icon {
    width: 44px;
    height: 41px
  }
}

.anonker__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.anonker__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #fff
}

.anonker__bottom {
  padding: 0 10px
}

.anonker__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .anonker__text {
    font-size: 15px
  }
}

.nas:not(:last-child) {
  margin-bottom: 80px
}

.nas__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px
}

@media (max-width:1440px) {
  .nas__container {
    gap: 40px
  }
}

@media (max-width:1220px) {
  .nas__container {
    gap: 20px
  }
}

@media (max-width:991px) {
  .nas__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px
  }
}

.nas__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 667px;
  flex: 0 1 667px
}

@media (max-width:991px) {
  .nas__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.nas__title {
  padding: 10px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f90;
  min-width: 278px;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.2;
  text-align: right;
  color: #fff
}

@media (max-width:600px) {
  .nas__title {
    min-width: 261px
  }
}

.nas__title:not(:last-child) {
  margin-bottom: 10px
}

.nas__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:600px) {
  .nas__subtitle {
    font-size: 20px
  }
}

.nas__subtitle:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:991px) {
  .nas__subtitle:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .nas__subtitle:not(:last-child) {
    margin-bottom: 16px
  }
}

.nas__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:600px) {
  .nas__text {
    font-size: 16px
  }
}

.nas__text:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .nas__text:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .nas__text:not(:last-child) {
    margin-bottom: 10px
  }
}

.nas__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 396px;
  flex: 0 0 396px;
  height: 357px
}

@media (max-width:991px) {
  .nas__image {
    max-width: 344px;
    height: 310px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0 auto;
    width: 100%
  }
}

@media (max-width:600px) {
  .nas__image {
    max-width: 313px;
    height: 282px
  }
}

.nas__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.slots:not(:last-child) {
  margin-bottom: 80px
}

.slots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px
}

.slots__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 372px;
  flex: 0 0 372px
}

@media (max-width:991px) {
  .slots__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:450px) {
  .slots__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.slots__image {
  height: 207px
}

@media (max-width:991px) {
  .slots__image {
    height: 188px
  }
}

@media (max-width:600px) {
  .slots__image {
    height: 193px
  }
}

.slots__image a {
  display: block;
  width: 100%;
  height: 100%
}

.slots__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.slots__image:not(:last-child) {
  margin-bottom: 10px
}

.slots__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

.slots__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.15;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .slots__link:hover {
    color: #621bbb
  }
}

.slots__link:active {
  color: #621bbb;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.slots__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 179px;
  flex: 0 0 179px;
  min-height: 40px;
  background-color: #621bbb;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .slots__play {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 161px;
    flex: 0 0 161px;
    min-height: 36px
  }
}

@media (max-width:600px) {
  .slots__play {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 166px;
    flex: 0 0 166px;
    min-height: 37px
  }
}

@media (any-hover:hover) {
  .slots__play:hover {
    color: #621bbb;
    background-color: #fff
  }
}

.slots__play:active {
  color: #621bbb;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding: 32px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 2, 22, .63)), color-stop(115.65%, rgba(0, 0, 0, .5229)));
  background: -o-linear-gradient(top, rgba(11, 2, 22, .63) 0, rgba(0, 0, 0, .5229) 115.65%);
  background: linear-gradient(180deg, rgba(11, 2, 22, .63) 0, rgba(0, 0, 0, .5229) 115.65%)
}

@media (max-width:991px) {
  .footer {
    padding: 32px 0 49px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 37px 0 35px 0
  }
}

.footer__logo {
  display: block;
  width: 175px;
  height: 34px;
  margin: 0 auto
}

@media (max-width:991px) {
  .footer__logo {
    width: 160px;
    height: 31px
  }
}

@media (max-width:600px) {
  .footer__logo {
    width: 167px;
    height: 32px
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__logo:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:991px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 27px
  }
}

@media (max-width:600px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 24px
  }
}

.footer__text {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #fff;
  max-width: 576px;
  margin: 0 auto;
  padding-bottom: 16px
}

.footer__text span {
  display: block
}

@media (max-width:991px) {
  .footer__text {
    max-width: 523px;
    font-size: 14px
  }
}

.footer__text:not(:last-child) {
  margin-bottom: 16px
}

.footer__text::after {
  content: "";
  position: absolute;
  max-width: 376px;
  height: 1px;
  background-color: #621bbb;
  left: 50%;
  bottom: 0;
  -webkit-transform: -50%;
  -ms-transform: -50%;
  transform: -50%;
  z-index: 1
}

@media (max-width:991px) {
  .footer__text::after {
    max-width: 342px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px 26px
}

@media (max-width:991px) {
  .footer__list {
    gap: 10px 20px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 10px 15px
  }
}

.footer__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.15;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #f90
  }
}

.footer__link:active {
  color: #f90;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 130px
}

.terms h1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2102;
  text-align: center;
  text-transform: uppercase;
  color: #ffc700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 20px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2102;
  text-align: center;
  text-transform: uppercase;
  color: #ffc700
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 18px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .terms p {
    font-size: 14px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.slot {
  margin-top: 130px
}

.slot__content {
  height: 800px
}

@media (max-width:991px) {
  .slot__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .slot__content {
    height: 350px
  }
}

.slot__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 401px;
  background-color: #1b0438;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 35px
}

@media (max-width:991px) {
  .popup__body {
    padding: 20px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .popup__text {
    font-size: 14px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 160px;
  min-height: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  background-color: #621bbb;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    width: 140px
  }
}

@media (max-width:600px) {
  .popup__button {
    width: 120px;
    font-size: 14px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #621bbb;
    background-color: #fff
  }
}

.popup__button:active {
  color: #621bbb;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .main {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .main {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .main {
    background-image: url(../img/hero_3.webp)
  }
}