$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 400px 0;
  background-color: #383838;
  width: 118px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    padding: 20px 0;
    width: 100%;
    background-color: transparent;
  }

  @media (max-width: 600px) {}

  &:not(:last-child) {
    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 50px;
    }

    @media (max-width: 600px) {
      margin-bottom: 65px;
    }
  }

  &__container {
    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
    }

    @media (max-width: 600px) {}
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #383838;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }

  &__logo {
    display: block;
    width: 179px;
    height: 33px;
    flex-shrink: 0;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      width: 154px;
      height: 28px;
    }

    &_menu {
      display: none;
      margin-right: auto;
      margin-bottom: 100px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        display: block;
      }

      @media (max-width: 600px) {}
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__right {
    display: none;
    align-items: center;
    gap: 34px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      display: flex;
    }

    @media (max-width: 600px) {
      gap: 20px;
    }
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    width: 45px;
    height: 45px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.nav {
  transform: rotate(-90deg);

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    transform: rotate(0);
  }

  @media (max-width: 600px) {}

  &__list {
    display: flex;
    align-items: center;
    gap: 15px 20px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    transition: opacity .3s ease;
    white-space: nowrap;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 20px;
      line-height: 22px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 26px;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;
  flex-shrink: 0;

  @media (max-width: 991px) {
    display: flex;
  }

  @media (max-width: 600px) {
    width: 42px;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 10px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.top {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    display: none;
  }

  @media (max-width: 600px) {}

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__logo {
    display: block;
    width: 179px;
    height: 33px;
    flex-shrink: 0;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    width: 45px;
    height: 45px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.sector {
  &:not(:last-child) {
    margin-bottom:50px;
    @media (max-width: 1439px) {}
    @media (max-width: 1220px) {}
    @media (max-width: 991px) {
      margin-bottom: 80px;
    }
    @media (max-width: 600px) {}
  }

  &__container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 30px;

    @media (max-width: 1439px) {}

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 60px;
      padding-top: 0;
      padding-bottom: 0;
    }

    @media (max-width: 600px) {
      gap: 48px;
    }
  }

  &__descr {
    flex: 0 1 572px;

    @media (max-width: 1439px) {}

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }


    @media (max-width: 600px) {}
  }

  &__span {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 56px;
    text-transform: uppercase;
    color: #ED1700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 35px;
      line-height: 51px;
    }

    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 47px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        -ms-behavior: 48px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: fit-content;
    min-width: 241px;
    min-height: 49px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    background: linear-gradient(93.47deg, #ED1700 -1.74%, #FFB800 101.74%);
    border-radius: 58px;
    transition: opacity .3s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }

  &__image {
    flex: 0 1 565px;
    position: relative;
    padding-bottom: 50%;

    @media (max-width: 1439px) {}

    @media (max-width: 991px) {
      flex: none;
      max-width: 565px;
      width: 100%;
    }

    @media (max-width: 750px) {
      padding-bottom: 80%;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.list {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    flex: 0 0 400px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex: 0 0 342px;
    }

    @media (max-width: 600px) {
      flex: 0 1 100%;
    }
  }

  &__wrapper-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: #ED1700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 17px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 14px;
      }

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__icon {
    display: block;
    width: 57px;
    height: 57px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      width: 47px;
      height: 47px;
    }

    @media (max-width: 600px) {}

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
  }
}


// ======================================================================================================================================================

.playes {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    flex: 0 0 380px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex: 0 0 342px;
    }

    @media (max-width: 450px) {
      flex: 0 1 100%;
    }
  }

  &__image {
    height: 247px;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      height: 220px;
    }

    @media (max-width: 600px) {
      height: 215px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & picture {
        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    transition: opacity .3s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.about {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__descr {
    flex: 1;
  }

  &__item {
    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      display: flex;
      gap: 20px;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 10px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__texts {
    flex: 1;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 10px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__image {
    flex: 0 0 352px;
    height: 346px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex: 0 0 251px;
      height: 247px;
    }

    @media (max-width: 600px) {
      max-width: 251px;
      flex: none;
      width: 100%;
      margin: 0 auto;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding: 0 0 70px 0;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    padding: 0 0 46px 0;
  }

  @media (max-width: 600px) {
    padding: 0 0 40px 0;
  }

  &__logo {
    display: block;
    width: 195px;
    height: 36px;
    margin: 0 auto;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      width: 158px;
      height: 29px;
    }

    &:not(:last-child) {
      margin-bottom: 13px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__text {
    max-width: 628px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;

    & span {
      display: block;
    }

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 48px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 15px 30px;
    }

    @media (max-width: 600px) {
      gap: 10px 20px;
    }
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    transition: opacity .3s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding-top: 160px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    padding-top: 40px;
  }

  @media (max-width: 600px) {
    padding-top: 20px;
  }

  & h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #ED1700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 30px;
      line-height: 46px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
      line-height: 28px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #ED1700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 22px;
      line-height: 30px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 12px;
      line-height: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.slot {
  padding-top: 160px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    padding-top: 40px;
  }

  @media (max-width: 600px) {
    padding-top: 20px;
  }

  &__title {
    font-size: 32px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__content {
    height: 800px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      height: 550px;
    }

    @media (max-width: 600px) {
      height: 350px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================================================================================================================================

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 359px;
  background-color: #191919;
  border-radius: 5px;
  z-index: 2;
  padding: 24px 30px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    padding: 20px;
  }

  @media (max-width: 600px) {}

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__form {
  width: 100%;
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px;
}

.popup__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    font-size: 14px;
    line-height: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
  min-width: 160px;
  min-height: 38px;
  background-color: #FFB800;
  border-radius: 25px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity .3s ease;

  @media (max-width: 991px) {
    min-width: 140px;
  }

  @media (max-width: 600px) {
    min-width: 120px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: .6;
    }
  }

  &:active {
    opacity: .2;
    transition-duration: .1s;
  }
}