@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #0c0959
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 80px
}

.header {
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(#19084b), to(rgba(15, 4, 47, 0)));
  background: -o-linear-gradient(top, #19084b 0, rgba(15, 4, 47, 0) 100%);
  background: linear-gradient(180deg, #19084b 0, rgba(15, 4, 47, 0) 100%)
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0c0959;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  width: 115px;
  height: 56px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.header__logo_menu {
  display: none;
  margin-right: auto;
  margin-bottom: 100px
}

@media (max-width:991px) {
  .header__logo_menu {
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  gap: 37px
}

@media (max-width:991px) {
  .header__right {
    gap: 26px
  }
}

@media (max-width:600px) {
  .header__right {
    gap: 20px
  }
}

.header__icon {
  display: block;
  width: 43px;
  height: 43px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.header__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px 69px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}

@media (max-width:991px) {
  .nav__link {
    font-size: 24px;
    line-height: 27px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    opacity: .6
  }
}

.nav__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.no-webp .hero {
  background-image: url(../img/hero.png)
}

.hero {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .no-webp .hero {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .hero {
    background-image: url(../img/hero_3.png)
  }
}

.hero:not(:last-child) {
  margin-bottom: 80px
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 85px 0;
  min-height: 638px
}

.hero__body {
  max-width: 676px
}

.hero__span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff
}

@media (max-width:991px) {
  .hero__span {
    font-size: 16px;
    line-height: 18px
  }
}

.hero__span:not(:last-child) {
  margin-bottom: 10px
}

.hero__title {
  font-weight: 900;
  font-size: 47px;
  line-height: 66px;
  text-transform: uppercase;
  color: #ffc800
}

@media (max-width:600px) {
  .hero__title {
    font-size: 34px;
    line-height: 48px
  }
}

.hero__title:not(:last-child) {
  margin-bottom: 10px
}

.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  max-width: 575px
}

@media (max-width:991px) {
  .hero__text {
    max-width: 340px;
    font-size: 16px;
    line-height: 18px
  }
}

.hero__text:not(:last-child) {
  margin-bottom: 45px
}

@media (max-width:991px) {
  .hero__text:not(:last-child) {
    margin-bottom: 32px
  }
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  min-width: 255px;
  min-height: 56px;
  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  color: #fff;
  background: -o-radial-gradient(50% 50%, 50% 764.58%, #ead410 0, #e17a00 100%);
  background: radial-gradient(50% 764.58% at 50% 50%, #ead410 0, #e17a00 100%);
  border-radius: 44px;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}

@media (max-width:991px) {
  .hero__link {
    font-size: 16px;
    line-height: 16px;
    min-width: 206px;
    min-height: 45px
  }
}

@media (any-hover:hover) {
  .hero__link:hover {
    opacity: .6
  }
}

.hero__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games:not(:last-child) {
  margin-bottom: 80px
}

.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px
}

.games__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 376px;
  flex: 0 0 376px
}

@media (max-width:991px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:450px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.games__image {
  height: 257px;
  border-radius: 15px;
  overflow: hidden
}

@media (max-width:991px) {
  .games__image {
    height: 246px
  }
}

@media (max-width:600px) {
  .games__image {
    height: 255px
  }
}

.games__image a {
  display: block;
  width: 100%;
  height: 100%
}

.games__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.games__image:not(:last-child) {
  margin-bottom: 16px
}

.games__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.games__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}

@media (any-hover:hover) {
  .games__link:hover {
    opacity: .6
  }
}

.games__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 154px;
  flex: 0 0 154px;
  min-height: 45px;
  background-color: #e28802;
  border-radius: 56px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}

@media (max-width:991px) {
  .games__play {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 147px;
    flex: 0 0 147px;
    min-height: 43px
  }
}

@media (max-width:600px) {
  .games__play {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 153px;
    flex: 0 0 153px;
    min-height: 45px
  }
}

@media (any-hover:hover) {
  .games__play:hover {
    opacity: .6
  }
}

.games__play:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.benq:not(:last-child) {
  margin-bottom: 80px
}

.benq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px
}

.benq__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 376px;
  flex: 0 0 376px
}

@media (max-width:991px) {
  .benq__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:600px) {
  .benq__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.benq__icon {
  display: block;
  width: 78px;
  height: 78px;
  margin: 0 auto
}

.benq__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benq__icon:not(:last-child) {
  margin-bottom: 10px
}

.benq__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .benq__title {
    font-size: 20px;
    line-height: 23px
  }
}

.benq__title:not(:last-child) {
  margin-bottom: 10px
}

.benq__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .benq__text {
    font-size: 16px;
    line-height: 18px
  }
}

.no-webp .say {
  background-image: url(../img/about.png)
}

.say {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 38px 0 34px 0
}

@media (max-width:991px) {
  .say {
    padding: 48px 0 41px 0
  }
}

@media (max-width:600px) {
  .say {
    padding: 42px 0 48px 0
  }
}

.say:not(:last-child) {
  margin-bottom: 80px
}

.say__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .say__title {
    font-size: 24px;
    line-height: 28px
  }
}

.say__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:600px) {
  .say__title:not(:last-child) {
    margin-bottom: 24px
  }
}

.say__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  max-width: 942px;
  margin: 0 auto
}

@media (max-width:600px) {
  .say__text {
    font-size: 16px;
    line-height: 22px
  }
}

.footer {
  background-color: #00193d;
  padding: 32px 0 47px 0
}

@media (max-width:991px) {
  .footer {
    padding: 32px 0 46px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 44px 0 46px 0
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.footer__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 278px;
  flex: 0 0 278px
}

@media (max-width:991px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px
  }
}

@media (max-width:600px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    row-gap: 24px
  }
}

.footer__logo {
  display: block;
  width: 115px;
  height: 56px
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__logo:not(:last-child) {
  margin-bottom: 13px
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff
}

.footer__lists {
  margin-left: auto
}

@media (max-width:600px) {
  .footer__lists {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px 16px
}

@media (max-width:600px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.footer__list:not(:last-child) {
  margin-bottom: 20px
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}

@media (any-hover:hover) {
  .footer__link:hover {
    opacity: .6
  }
}

.footer__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  padding-top: 160px
}

.terms__container {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px
}

@media (max-width:600px) {
  .terms__container {
    gap: 15px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.terms h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffc800
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 18px;
    line-height: 26px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffc800
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 18px;
    line-height: 26px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff
}

@media (max-width:600px) {
  .terms p {
    font-size: 16px;
    line-height: 19px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff
}

@media (max-width:600px) {
  .terms li {
    font-size: 14px;
    line-height: 17px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.slot {
  padding-top: 160px
}

.slot__title {
  font-size: 28px;
  line-height: 32px;
  color: #fff;
  font-weight: 700
}

@media (max-width:991px) {
  .slot__title {
    font-size: 24px;
    line-height: 28px
  }
}

@media (max-width:600px) {
  .slot__title {
    font-size: 20px;
    line-height: 24px
  }
}

.slot__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .slot__title:not(:last-child) {
    margin-bottom: 24px
  }
}

@media (max-width:600px) {
  .slot__title:not(:last-child) {
    margin-bottom: 16px
  }
}

.slot__content {
  height: 800px
}

@media (max-width:991px) {
  .slot__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .slot__content {
    height: 350px
  }
}

.slot__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 380px;
  background-color: #0c0959;
  border-radius: 5px;
  z-index: 2;
  padding: 20px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 160px;
  min-height: 36px;
  margin-left: auto;
  background-color: #e28802;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  border-radius: 29px;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}

@media (max-width:991px) {
  .popup__button {
    min-width: 140px
  }
}

@media (max-width:600px) {
  .popup__button {
    min-width: 120px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    opacity: .6
  }
}

.popup__button:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .hero {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .hero {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .hero {
    background-image: url(../img/hero_3.webp)
  }
}

.webp .say {
  background-image: url(../img/about.webp)
}