$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 20px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #373737;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }

  &__logo {
    font-size: 30px;
    line-height: 1;
    flex-shrink: 0;
    font-weight: 700;
    color: #fff;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &_menu {
      display: none;
      margin-right: auto;
      margin-bottom: 100px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        display: inline-block;
      }

      @media (max-width: 600px) {}
    }
  }

  &__right {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 20px;
  }

  &__icon {
    display: block;
    flex: 0 0 50px;
    height: 50px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex: 0 0 42px;
      height: 42px;
    }

    @media (max-width: 600px) {
      flex: 0 0 34px;
      height: 34px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 50px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    font-weight: 400;
    transition: opacity .3s ease;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 21px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex: 0 0 52px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    flex: 0 0 42px;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.main {
  background-image: url(../../img/hero.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1439px) {

  }
  @media (max-width: 1220px) {

  }
  @media (max-width: 991px) {
      background-image: url(../../img/hero_2.png);
  }
  @media (max-width: 600px) {
    background-image: url(../../img/hero_3.png);
  }
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 30px 0;
    min-height: 600px;
  }

  &__descr {
    max-width: 650px;

    @media (max-width: 800px) {
      flex: none;
      width: 100%;
    }
  }

  &__title {
    font-size: 52px;
    line-height: 1.4;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 46px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 35px;
      }

      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }

  &__text {
    font-size: 22px;
    line-height: 1.4;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: fit-content;
    min-width: 160px;
    min-height: 50px;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    background-color: #C95D00;
    transition: color .3s ease, background-color .3s ease;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      min-width: 140px;
      min-height: 45px;
      font-size: 16px;
    }

    @media (max-width: 600px) {
      min-width: 120px;
      min-height: 40px;
      font-size: 14px;
    }

    @media (any-hover: hover) {
      &:hover {
      color: #C95D00;
      background-color: #fff;
      }
    }

    &:active {
      color: #C95D00;
      background-color: #fff;
      transition-duration: .1s;
    }
  }

}

// ======================================================================================================================================================

.pluwki {
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    gap: 20px;
    grid-template: auto / repeat(auto-fill, minmax(350px, 1fr));

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 15px;
    background-color: #042E26;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
}


// ======================================================================================================================================================

.slots {
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 370px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex: 0 0 342px;
    }

    @media (max-width: 450px) {
      flex: 0 1 100%;
    }
  }

  &__image {
    height: 250px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {

    }

    @media (max-width: 600px) {
      height: 200px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & picture {
        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;
    transition: opacity .3s ease;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.about {


  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {

  }

  @media (max-width: 600px) {

  }

  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 35px;
      }

      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }

  &__text {
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding: 40px 0;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    padding: 35px 0;
  }

  @media (max-width: 600px) {
    padding: 30px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      gap: 25px;
    }
  }

  &__logo {
    font-size: 30px;
    line-height: 1;
    flex-shrink: 0;
    font-weight: 700;
    color: #fff;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

  }


  &__text {
    font-size: 22px;
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    text-align: center;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px 50px;
    flex-wrap: wrap;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 15px 40px;
    }

    @media (max-width: 600px) {
      gap: 15px 30px;
    }
  }

  &__item {}

  &__link {
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;
    transition: opacity .3s ease;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  margin-top: 80px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    margin-top: 60px;
  }

  @media (max-width: 600px) {
    margin-top: 40px;
  }

  & h1 {
    font-size: 30px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 30px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.slot {
  margin-top: 80px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    margin-top: 60px;
  }

  @media (max-width: 600px) {
    margin-top: 40px;
  }

  &__title {
    font-size: 32px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 35px;
      }

      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }

  &__content {
    height: 800px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      height: 550px;
    }

    @media (max-width: 600px) {
      height: 350px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================================================================================================================================

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 391px;
  background-color: #1F0315;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 20px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    padding: 25px 15px;
  }

  @media (max-width: 600px) {}

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__form {
  width: 100%;
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px;
}

.popup__text {
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  font-weight: 400;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
  min-width: 160px;
  min-height: 50px;
  background-color: #FF10AC;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  font-weight: 400;
  margin: 0 auto;
  transition: background-color .3s ease, color .3s ease;

  @media (max-width: 991px) {
    min-width: 140px;
    min-height: 45px;
  }

  @media (max-width: 600px) {
    min-width: 120px;
    min-height: 40px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #FF10AC;
      background-color: #fff;
    }
  }

  &:active {
    color: #FF10AC;
    background-color: #fff;
    transition-duration: .1s;
  }
}