@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter-Medium'),
       url("../../fonts/Inter-Medium.woff2") format("woff2"),
       url("../../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'),
       url("../../fonts/Inter-Regular.woff2") format("woff2"),
       url("../../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'KenyanCoffee';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Kenyan-coffeeRegularItaly'),
       url("../../fonts/Kenyan-coffeeRegularItaly.woff2") format("woff2"),
       url("../../fonts/Kenyan-coffeeRegularItaly.woff") format("woff");
}

@font-face {
  font-family: 'KenyanCoffee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kenyan-coffeRegular'),
       url("../../fonts/Kenyan-coffeRegular.woff2") format("woff2"),
       url("../../fonts/Kenyan-coffeRegular.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins-Bold'),
       url("../../fonts/Poppins-Bold.woff2") format("woff2"),
       url("../../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins-Medium'),
       url("../../fonts/Poppins-Medium.woff2") format("woff2"),
       url("../../fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins-Regular'),
       url("../../fonts/Poppins-Regular.woff2") format("woff2"),
       url("../../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins-SemiBold'),
       url("../../fonts/Poppins-SemiBold.woff2") format("woff2"),
       url("../../fonts/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}
