@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #090843
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 80px
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e2e4f1
}

.title span {
  color: #0ceceb
}

.title:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .title:not(:last-child) {
    margin-bottom: 32px
  }
}

.header {
  padding: 15px 0
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #373737;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    left: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 134px;
  flex: 0 0 134px;
  height: 59px
}

@media (max-width:991px) {
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 151px;
    flex: 0 0 151px;
    height: 66px
  }
}

.header__logo_menu {
  display: none;
  margin-bottom: 100px;
  margin-left: auto;
  width: 151px;
  height: 66px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none
}

@media (max-width:991px) {
  .header__logo_menu {
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 57px
}

@media (max-width:991px) {
  .header__right {
    gap: 31px
  }
}

@media (max-width:600px) {
  .header__right {
    gap: 20px
  }
}

.header__icon {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 63px;
  flex: 0 0 63px;
  height: 63px
}

@media (max-width:991px) {
  .header__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 59px;
    flex: 0 0 59px;
    height: 59px
  }
}

.header__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 48px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 22px;
    line-height: 25px
  }
}

@media (max-width:600px) {
  .nav__link {
    font-size: 24px;
    line-height: 27px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #13a3cf
  }
}

.nav__link:active {
  color: #13a3cf;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.no-webp .duck {
  background-image: url(../img/hero.png)
}

.duck {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .no-webp .duck {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .duck {
    background-image: url(../img/hero_3.png)
  }
}

.duck:not(:last-child) {
  margin-bottom: 80px
}

.duck__content {
  padding: 80px 0;
  min-height: 696px
}

@media (max-width:991px) {
  .duck__content {
    padding: 105px 0;
    min-height: 878px
  }
}

@media (max-width:600px) {
  .duck__content {
    min-height: 696px;
    padding: 135px 0
  }
}

.duck__body {
  margin: 0 auto;
  max-width: 776px
}

@media (max-width:991px) {
  .duck__body {
    max-width: 704px
  }
}

.duck__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
  color: #0ceceb
}

@media (max-width:600px) {
  .duck__title {
    font-size: 32px;
    line-height: 45px
  }
}

.duck__title:not(:last-child) {
  margin-bottom: 10px
}

.duck__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .duck__text {
    font-size: 16px;
    line-height: 18px
  }
}

.duck__text span {
  display: block
}

.duck__text:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:991px) {
  .duck__text:not(:last-child) {
    margin-bottom: 48px
  }
}

@media (max-width:600px) {
  .duck__text:not(:last-child) {
    margin-bottom: 16px
  }
}

.duck__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  gap: 30px;
  width: 278px;
  min-height: 52px;
  background: -o-linear-gradient(357.91deg, #0cb6ec .55%, #0d647e 95.64%);
  background: linear-gradient(92.09deg, #0cb6ec .55%, #0d647e 95.64%);
  border-radius: 71px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .duck__link {
    width: 252px
  }
}

@media (max-width:600px) {
  .duck__link {
    width: 234px;
    min-height: 69px
  }
}

.duck__link img {
  display: block;
  width: 29px;
  height: 32px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

@media (max-width:991px) {
  .duck__link img {
    width: 25px;
    height: 28px
  }
}

@media (any-hover:hover) {
  .duck__link:hover {
    opacity: .6
  }
}

.duck__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games {
  padding: 36px 0 66px 0;
  background-color: #0d6b88
}

@media (max-width:991px) {
  .games {
    padding: 32px 0 40px 0
  }
}

@media (max-width:600px) {
  .games {
    padding: 40px 0 45px 0
  }
}

.games:not(:last-child) {
  margin-bottom: 80px
}

.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.games__item {
  background-color: #090843;
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .25);
  box-shadow: 0 4px 9px rgba(0, 0, 0, .25);
  border-radius: 5px;
  padding: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 372px;
  flex: 0 0 372px
}

@media (max-width:991px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:450px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.games__image {
  height: 187px;
  border-radius: 10px;
  overflow: hidden
}

@media (max-width:991px) {
  .games__image {
    height: 170px
  }
}

@media (max-width:600px) {
  .games__image {
    height: 166px
  }
}

.games__image a {
  display: block;
  width: 100%;
  height: 100%
}

.games__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.games__image:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:600px) {
  .games__image:not(:last-child) {
    margin-bottom: 10px
  }
}

.games__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}

.games__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .games__link:hover {
    color: #13a3cf
  }
}

.games__link:active {
  color: #13a3cf;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  min-height: 38px;
  background-color: #13a3cf;
  border-radius: 34px;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .games__play {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 136px;
    flex: 0 0 136px;
    min-height: 35px
  }
}

@media (max-width:600px) {
  .games__play {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 133px;
    flex: 0 0 133px;
    min-height: 34px
  }
}

@media (any-hover:hover) {
  .games__play:hover {
    color: #13a3cf;
    background-color: #fff
  }
}

.games__play:active {
  color: #13a3cf;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.aqua:not(:last-child) {
  margin-bottom: 80px
}

.aqua__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #0d6b88;
  -webkit-box-shadow: 0 4px 8px #300c5c;
  box-shadow: 0 4px 8px #300c5c;
  border-radius: 10px
}

@media (max-width:991px) {
  .aqua__list {
    padding: 25px 10px
  }
}

@media (max-width:600px) {
  .aqua__list {
    padding: 32px 10px
  }
}

.aqua__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px
}

@media (max-width:991px) {
  .aqua__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 333px;
    flex: 0 0 333px
  }
}

@media (max-width:600px) {
  .aqua__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.aqua__wrapper-icon {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff
}

.aqua__wrapper-icon:not(:last-child) {
  margin-bottom: 10px
}

.aqua__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 53px;
  height: 57px;
  margin: 0 auto
}

@media (max-width:991px) {
  .aqua__icon {
    width: 50px;
    height: 53px
  }
}

@media (max-width:600px) {
  .aqua__icon {
    width: 47px;
    height: 50px
  }
}

.aqua__icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.aqua__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff
}

.aqua__subtitle:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .aqua__subtitle:not(:last-child) {
    margin-bottom: 10px
  }
}

.aqua__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .aqua__text {
    font-size: 16px;
    line-height: 18px
  }
}

.say:not(:last-child) {
  margin-bottom: 80px
}

.say__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px
}

@media (max-width:1440px) {
  .say__content {
    gap: 30px
  }
}

@media (max-width:1220px) {
  .say__content {
    gap: 20px
  }
}

.say__texts {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 869px;
  flex: 0 1 869px
}

@media (max-width:991px) {
  .say__texts {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

@media (max-width:991px) {
  .say__texts-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px
  }
}

@media (max-width:700px) {
  .say__texts-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.say__texts-part:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .say__texts-part:not(:last-child) {
    margin-bottom: 10px
  }
}

.say__texts-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

@media (max-width:700px) {
  .say__texts-text {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.say__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 144.49%;
  color: #fff
}

.say__text:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .say__text:not(:last-child) {
    margin-bottom: 10px
  }
}

.say__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 231px;
  flex: 0 0 231px;
  height: 343px
}

@media (max-width:991px) {
  .say__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 231px;
    flex: 0 0 231px;
    height: 343px
  }
}

@media (max-width:700px) {
  .say__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 231px;
    height: 343px;
    margin: 0 auto
  }
}

.say__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer {
  padding: 25px 0 30px 0;
  background-color: #0d6b88
}

@media (max-width:991px) {
  .footer {
    padding: 31px 0 33px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 36px 0 20px 0
  }
}

.footer__logo {
  display: block;
  width: 174px;
  height: 72px;
  margin: 0 auto
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__logo:not(:last-child) {
  margin-bottom: 30px
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 576px
}

.footer__text:not(:last-child) {
  margin-bottom: 19px
}

@media (max-width:600px) {
  .footer__text:not(:last-child) {
    margin-bottom: 16px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media (max-width:991px) {
  .footer__list {
    gap: 10px 40px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 10px 30px
  }
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #300c5c
  }
}

.footer__link:active {
  color: #300c5c;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 80px
}

@media (max-width:991px) {
  .terms {
    margin-top: 70px
  }
}

@media (max-width:600px) {
  .terms {
    margin-top: 60px
  }
}

.terms__container {
  max-width: 814px
}

.terms h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
  color: #0ceceb
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 34px;
    line-height: 42px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px;
    line-height: 32px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #0ceceb
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 18px;
    line-height: 26px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .terms p {
    font-size: 16px;
    line-height: 19px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 14px;
    line-height: 17px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .terms li {
    font-size: 14px;
    line-height: 17px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px;
    line-height: 15px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.slot {
  margin-top: 80px
}

@media (max-width:991px) {
  .slot {
    margin-top: 70px
  }
}

@media (max-width:600px) {
  .slot {
    margin-top: 60px
  }
}

.slot__content {
  height: 800px
}

@media (max-width:991px) {
  .slot__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .slot__content {
    height: 350px
  }
}

.slot__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 440px;
  background-color: #090843;
  border-radius: 5px;
  z-index: 2;
  padding: 35px 25px
}

@media (max-width:91px) {
  .popup__body {
    padding: 25px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #fff
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 160px;
  min-height: 44px;
  background-color: #0cb6ec;
  border-radius: 38px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  margin: 0 auto
}

@media (max-width:991px) {
  .popup__button {
    font-size: 18px;
    width: 140px;
    min-height: 38px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 16px;
    width: 120px;
    min-height: 34px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #0cb6ec;
    background-color: #fff
  }
}

.popup__button:active {
  color: #0cb6ec;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .duck {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .duck {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .duck {
    background-image: url(../img/hero_3.webp)
  }
}